html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	border: none;
	outline: none;
	cursor: pointer;
}

input {
	outline: none;
	cursor: pointer;
}

body {
	min-width: 1180px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #444444;
	font-weight: 400;
}

h1 {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 600;
}

h2 {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
}

h3 {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
}

.main-header {
	padding: 50px 0 16px;
	
	background: #eeeeee;
}

.nav-logo {
	float: left;
	
	width: 161px;
	height: 65px;
	
	cursor: pointer;
}

.nav-logo:hover {
	opacity: 0.8;
}

.nav-logo:active {
	opacity: 0.3;
}

.main-menu {
	float: right;
}

.main-menu a {
	text-decoration: none;
	color: #000000;
}

.main-menu a:hover {
	color: #fb565a;
}

.main-menu a:active {
	color: #a6a6a6;
}

.main-menu .navigation {
	list-style: none;
	
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.main-menu li {
	position: relative;
	display: inline-block;
	vertical-align: top;

	padding: 25px 0 8px;
	margin-left: 42px;
	
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.main-menu li:first-child {
	margin-left: 0;
}

.main-menu .baskets-block {
	margin-left: 240px;
}

.main-menu .basket {
	position: relative;
	
	padding-left: 40px;
}

.main-menu .basket::before {
	content: "";
	
	position: absolute;
	left: 0;
	top: 2px;
	
	width: 15px;
	height: 15px;
	
	background: url("../img/basket.png") no-repeat;
}

.active {
	cursor: pointer;
}

.main-menu .active:after {
	content: "";
	
	position: absolute;	
	bottom: 5px;
	left: 0;
	right: 0;
	
	height: 2px;
	
	background: #fb565a;
}

.slider-2,
.slider-3 {
	display: none;
}

.index-slider {
	margin-bottom: 80px;
	
	background: #eeeeee;
}

.index-slider-content {
	position: relative;
	
	height: 420px;
	
	background: url("../img/slide1.png") no-repeat;
	background-position: 93% 52%;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 95px;
}

.index-slider-description {
	width: 380px;
}

.index-slider-about {
	padding-bottom: 20px;
	
	color: #283136;
}

.btn {
	display: inline-block;
	
	padding: 16px 55px;
	
	background: #fb565a;
	border-radius: 3px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

.btn:hover {
	background: #e74246;
}

.btn:active {
	background: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
	
	color: #e37376;
}

.index-slider-slogan {
	display: block;
	
	padding: 60px 0 12px;
	
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
}

.advantage-list {
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 80px;
}

.advantages .advantage {
	float: left;
	
	width: 300px;
	margin-right: 100px;
}

.advantages .advantage:last-child {
	margin-right: 0;
}

.advantages .result{
	font-size: 16px;
	line-height: 24px;
}

.advantage-btn {
	display: inline-block;
	
	margin-top: 15px;
	padding: 15px 25px;
	
	border-radius: 3px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.web-btn {
	background: #fb565a;
}

.app-btn {
	background: #00ca74;
}

.ppt-btn {
	background: #efc84a;
}

.web-btn:hover {
	background: #e74246;
}

.web-btn:active {
	background: #d7373b;
	box-shadow: inset 0 3px 0 0 #c13135;
	
	color: #e37376;
}

.app-btn:hover {
	background: #00bc6c;
}

.app-btn:active {
	background: #00aa62;
	box-shadow: inset 0 3px 0 0 #009958;
	
	color: #4dc491;
}

.ppt-btn:hover {
	background: #eab534;
}

.ppt-btn:active {
	background: #e5a722;
	box-shadow: inset 0 3px 0 0 #ce961f;
	
	color: #edc265;
}

.about-us {
	padding: 40px 0 80px 0;
}

.about-studio {
	float: left;
	
	width: 655px;
	margin-top: 30px;
}

.about-studio .studios-slogan {
	margin: 0;
	padding: 0;
	
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.about-studio .principle {
	margin: 0;
	padding: 0;
	padding: 27px 0;
}

.about-studio .development {
	margin: 0;
	padding: 0;
}

.about-studio .development-item {
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.about-studio li {
	position: relative;
	
	margin: 0;
	margin-top: 30px;
	padding: 0 0 0 35px;
}

.about-studio li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 11px;
	
	width: 25px;
	height: 2px;
	
	background: #fb565a;
}

.nerds-statistic {
	float: right;
	
	width: 365px;
}

.about-us-logo {
	width: 360px;
	height: 208px;
}

.statitics-title {
	padding: 0;
	margin: 0;
	padding: 35px 0 30px;
	
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.statistics-area {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.statistics-area li {
	display: inline-block;
	
	margin-right: 20px;
	
	width: 105px;
}

.statistics-area li:last-child {
	margin-right: 0;
}

.general-statistic .index {
	font-size: 45px;
	line-height: 65px;
	color: #000000;
}

.index-descr {
	padding: 0;
	padding: 10px 0 0 0;
	margin: 0;
	
	font-size: 16px;
	line-height: 18px;
}

.partners {
	padding-bottom: 80px;
}

.partner-list {
	margin: 0;
	padding: 0;
	padding: 45px 0 48px;
	
	border-top: 3px solid #eeeeee;
	border-bottom: 3px solid #eeeeee;
}

.partner {
	position: relative;
	
	display: inline-block;
	vertical-align: middle;
}

.partner::after { 
	content: ""; 

	position: absolute;  
	right: 0;
	bottom: 50%; 

	margin-bottom: -26px;
	width: 2px; 
	height: 52px; 

	background: #eeeeee; 
}

.partner:last-child::after {
	display: none;
}

.partner img {
	opacity: 0.2;
}

.partner img:hover {
	opacity: 1;
}

.partner img:active {
	opacity: 0.1;
}

.htmlacademy {
	width: 199px;
	margin: 0 49px 0 33px;
}

.borodinski {
	width: 209px;
	margin: 0 45px 0 45px;
}

.pink {
	width: 185px;
	margin: 0 55px 0 55px;
}

.mishka {
	width: 173px;
	margin: 0 40px 0 60px;
}

.map {
	padding: 50px 0 50px;
	
	background: url("../img/map.jpg") no-repeat;
	background-position: 50% 50%;
}

.address-wrapper {
	width: 320px;
}	

.address-wrapper .contacts {
	padding: 30px 50px 50px 50px;
	
	background: #ffffff;
}

.contacts h2 {
	font-size: 18px;
	line-height: 30px;
}

.contacts-adress {
	display: block;
}

.contacts-phone {
	display: block;
	
	padding: 10px 0 20px;
}

.btn-adress {
	padding: 18px 44px;
}

.main-footer .socials {
	padding: 70px 0;
}

.main-footer .socials-icons {
	float: left;
	
	width: 272px;
}

.main-footer .social-description {
	float: right;
	
	width: 760px;
}

.social-description .invitation {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #000000;
}

.social-description .friends {
	display: block;
	
	margin-top: 10px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}

.social {
	position:relative;
	
	display: inline-block;
	vertical-align: top;
	
	width: 80px;
	height: 80px;
	margin-right: 12px;
	
	background: #e1e1e1;
	border-radius: 50%;
	
	text-align: center;
}

.social:last-child {
	margin-right: 0;
}

.vk {
	position: absolute;
	left: 27px;
	top: 32.5px;
}

.fb {
	position: absolute;
	left: 34px;
	top: 29px;
}

.instagram {
	position: absolute;
	left: 29.5px;
	top: 29.5px;
}

.social:hover {
	background: #e74246;
}

.social:active {
	background: #d7373b;
	
	box-shadow: inset 0 3px 0 0 #c13135;
}

.vk:active,
.fb:active,
.instagram:active {
	opacity: 0.3;
}

.catalog-filter {
	padding: 60px 0 0 0;
}

.intro {
	padding-top: 15px;
	padding-bottom: 60px;
	
	background: #eeeeee;
	
	text-align: center;
}

.legend {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
}

.cost .legend {
	margin-bottom: 50px;
	
	text-transform: uppercase;
}

.grid .legend,
.features .legend {
	padding-top: 50px;
	
	text-transform: uppercase;
}

.filter-btn {
	display: block;
	
	margin-top: 45px;
	
	background: #eeeeee;
	
	text-align: center;
	color: #000000;
}

.filter-btn:hover {
	background: #dfdfdf;
}

.filter-btn:active {
	background: #d5d5d5;
	
	color: #959595;
	
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.catalog-filter {
	float: left;
	
	width: 255px;
	margin-right: 140px;
}

.features,
.cost,
.grid {
	border: none;
}

.main-catalog {
	float: right;
	
	width: 760px;
}

.sort {
	padding-top: 60px;
}

.sorting-name {
	float: left;
	
	margin-right: 265px;
	
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.sort-by {
	float: left;
	display: inline-block;
	
	margin: 0;
	padding: 0;
}

.sort-by li {
	display: inline-block;
	vertical-align: top;
	
	margin-right: 25px;
}

.sort-by a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #b2b2b2;
	text-decoration: none;
	text-transform: uppercase;
}

.sort-by .active-filter {
	color: #111111;
}

.sort-by a:hover {
	color: #666666;
}

.sort-by a:active {
	color: #000000;
}


.sort-by li:last-child {
	margin-right: 0;
}

.sort-direction {
	float: right;
}

.sort-down,
.sort-up {
	position: relative;
	
	padding-left: 35px;
	
	font-size: 0;
}

.sort-down::before {
	content: "";
	position: absolute;
	right: -10px;
	bottom: 0;
	
	width: 9px;
	height: 9px;
	
	background: url("../img/sort-down.png") no-repeat;
	opacity: 0.2;
}

.sort-up::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	
	width: 9px;
	height: 9px;
	
	background: url("../img/sort-up.png") no-repeat;
	opacity: 0.2;
}

.sort-down:hover::before {
	opacity: 0.4;
}

.sort-up:hover::before {
	opacity: 0.4;
}

.sort-down:active::before {
	opacity: 1;
}

.sort-up:active::before {
	opacity: 1;
}

/* Посредством JS переприсваиваем сласс sorted для sort-down и sort-up */

.sorted::before {
	opacity: 1;
}

.items-catalog .item {
	position: relative;
	float: left;
	
	width: 360px;
	height: 576px;
	margin-right: 40px;
	margin-bottom: 35px;
	 
	border-top: 40px solid #e9e9e9;
	border-radius: 3px;
}

.items-catalog .item::before {
	content: "";
	position: absolute;
	top: -26px;
	left: 16px;
	
	width: 15px;
	height: 15px;
	
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 24px 0 0 #ffffff, 48px 0 0 #ffffff; 
}

.items-catalog .item:hover {
	border-top-color: #4d4d4d;
	box-shadow: 0 3px 20px #cfcfcf;
}

.items-catalog .item:nth-child(2n) {
	margin-right: 0;
}

.items-catalog .about-item {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	
	width: 360px;
	min-height: 230px;
	padding: 30px 80px 40px;
	
	background: #eeeeee;
	
	text-align: center;
	
/*	opacity: 0; */
}

/* временно поиграться

.items-catalog .about-item:hover {
	opacity: 1;
}

*/

.about-item h4 {
	margin: 0;
	padding: 0;
}

.about-item .items-title {
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
}

.about-item .items-description {
	margin: 0;
	padding: 0;
	padding: 20px 0 30px;	
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.main-catalog .sort {
	padding-bottom: 50px;
}

.pagination {
	margin: 0;
	padding: 0;
	padding: 20px 0 60px;
}

.pagination li {
	display: inline-block;
	vertical-align: top;
	
	min-width: 62px;
	padding: 19px 0;
	
	background: #eeeeee;
	border-radius: 3px;
	cursor: pointer;
	
	text-align: center;
}

.pagination li:hover {
	background: #dfdfdf;
}

.pagination li:active {
	background: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination .pager-current {
	background: #ffffff;
	box-shadow: inset 0 0 0 3px #dbdbdb;
	cursor: auto;
}

.pagination .pager-current:hover {
	background: #ffffff;
}

.pagination .next {
	width: auto;
	padding: 19px 78px;
}

.pagination a {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: 500;
	text-decoration: none;	
}

.modal-contact-block {
	box-sizing: border-box;
	position: fixed;
	z-index: 10; 
	bottom: 177px;
	left: 50%;
	
	width: 960px;
	height: 589px;
	margin-left: -480px;
	padding: 65px 100px 85px;
	
	background: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
	
	color: #000000;
}

.modal-contact-block .contact-us {
	margin: 0;
	padding: 0;
	
	border: none;
}

.modal-contact-block .user-contact-info {
	margin-bottom: 35px;
}

.modal-contact-block .user-contact-name {
	float: left;
	
	width: 360px;
}

.modal-contact-block .user-contact-email {
	float: right;
	
	width: 360px;
}

.modal-contact-block .contact-form-title {
	margin-bottom: 35px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;
}

.modal-contact-block label {
	display: block;
	
	margin-bottom: 9px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: 500;
}

.modal-contact-block input {
	padding: 15px;
	
	width: 326px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	font-weight: 400;
}

.modal-contact-block .user-contact-info {
	margin-bottom: 35px;
}

.modal-contact-block .user-message {
	margin-bottom: 47px;
}

.close-modal-block {
	position: absolute;
	top: 78px;
	right: 90px;
	
	width: 21px;
	height: 21px;
	
	background: none;
	border: 0;
	
	font-size: 0;
	
	outline: 0;
	cursor: pointer;
}

.close-modal-block::before {
	content: "";
	position: absolute;
	top: 9px;
	right: 0; 
	
	width: 20px;
	height: 3px;
	
	background: #fecccd;
	
	transform: rotate(45deg);
}

.close-modal-block::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 0; 
	
	width: 20px;
	height: 3px;
	
	background: #fecccd;
	
	transform: rotate(-45deg);
}

