html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
}

h1 {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 600;
}

h2 {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 600;
}

.main-header {
	background: #eeeeee;
}

.main-header .container {
	padding: 50px 10px 18px 10px;
}

.nav-logo {
	float: left;
	
	width: 161px;
	height: 65px;
	
	cursor: pointer;
}

.nav-logo:hover {
	opacity: 0.8;
}

.nav-logo:active {
	opacity: 0.3;
}

.main-menu {
	float: right;
}

.main-menu a {
	text-decoration: none;
	color: #000000;
}

.main-menu a:hover {
	color: #fb565a;
}

.main-menu a:active {
	color: #000000;
	
	opacity: 0.3;
}

.main-menu ul {
	list-style: none;
	
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.main-menu li {
	position: relative;
	display: inline-block;
	vertical-align: top;

	padding: 24px 0 12px;
	margin-left: 42px;
	
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.main-menu li:first-child {
	margin-left: 0;
}

.main-menu .baskets-block {
	margin-left: 240px;
}

.main-menu .basket {
	position: relative;
	
	padding-left: 40px;
}

.main-menu .basket::before {
	content: "";
	
	position: absolute;
	left: 0;
	top: 2px;
	
	width: 15px;
	height: 15px;
	
	background: url("../img/basket.png") no-repeat;
}

.main-menu .active:after {
	content: "";
	
	position: absolute;	
	bottom: 0;
	left: 0;
	right: 0;
	
	height: 2px;
	
	background: #fb565a;
}

.slider-2,
.slider-3 {
	display: none;
}

.index-slider {
	background: #eeeeee;
}

.index-slider .container {
	padding: 0 10px;
}

.index-slider-content {
	position: relative;
	
	height: 420px;
	
	background: url("../img/slide1.png") no-repeat;
	background-position: 94% 50%;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 95px;
}

.index-slider-description {
	width: 380px;
}

.index-slider-description p {
	padding-bottom: 20px;
	
	color: #283136;
}

.btn {
	display: inline-block;
	
	padding: 18px 55px;
	
	background: #fb565a;
	border-radius: 5px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

.btn:hover {
	background: #e74246;
}

.btn:active {
	background: #d7373b;
	
	color: #e37376;
}

.index-slider-slogan {
	display: block;
	
	padding: 60px 0 12px;
	
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
}

.advantages .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

.advantages .advantage {
	float: left;
	
	width: 300px;
	margin-right: 100px;
}

.advantages .advantage:last-child {
	margin-right: 0;
}

.about-us .container {
	padding-top: 80px;
	padding-bottom: 80px;
	
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.about-studio {
	float: left;
	
	width: 655px;
}

.nerds-statistic {
	float: right;
	
	width: 365px;
}

.statistics-area ul {
	list-style: none;
	
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.statistics-area li {
	display: inline-block;
	
	width: 105px;
}

.statistics-area li:first-child {
	margin-left: 0;
	padding-left: 0;
}

.partners .container {
	padding-top: 50px;
	padding-bottom: 50px;
	
	border-bottom: 2px solid #eeeeee;
}

.partner {
	float: left;
}

.htmlacademy {
	width: 199px;
	margin: 0 50px;
}
.borodinski {
	width: 209px;
	margin: 0 40px;
}

.pink {
	width: 185px;
	margin: 0 50px;
}

.mishka {
	width: 173px;
	margin: 0 55px;
}

.map {
	background: url("../img/map.jpg") no-repeat;
	background-position: 50% 50%;
}

.map .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.address-wrapper {
	width: 350px;
}	

.address-wrapper .contacts {
	width: 250px;
	
	padding: 30px 50px 50px 50px;
	
	background: #ffffff;
}	


